@import "tailwindcss";

:root {
  /* LANGSUNG ATUR WARNA DARK MODE DI SINI */
  --background: #1A1A29;       /* Latar belakang utama Anda */
  --foreground: #ededed;       /* Teks putih Anda */
  
  /* Ini adalah warna lain dari desain Anda yang kita tambahkan sebelumnya */
  --background-secondary: #2E2F40; 
  --background-hero: #252736;
  --foreground-secondary: #a1a1aa;
  --border-color: #3f3f46;
  --color-accent: #ec4899;
  --color-accent-2: #3b82f6;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  /* Sekarang body akan SELALU menggunakan var(--background) gelap */
  background: var(--background);
  color: var(--foreground);
  /* font-family akan diambil dari layout.js Anda */
}